@mixin button {
   background: linear-gradient(183.46deg, #FFB548 11.27%, #F3AF34 90.4%);
   border-radius: 4px;
   color: #000;
   font-weight: bold;
   font-size: 16px;
   line-height: 22px;
   color: #1A1917;
}